<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Co robimy?</a>
        </div>

        <div class="navbar-header">
            <a href="#" class="navbar-brand">Jak to działa?</a>
        </div>

        <div class="navbar-header">
            <a href="#" class="navbar-brand">Podstawowe plany</a>
        </div>

        <div class="navbar-header">
            <a href="#" class="navbar-brand">Kontakt</a>
        </div>
    </div>
</nav>
